
<div id="Section_don">
    <div class="don_box">
        <h1 class="Hauteur_don">Paypal</h1>
        <hr class="Separation">
        <p class="Blabla">{{ don.paypal }}</p>
        <hr class="Separation2">
        <a href="{{ don.paypallien }}" class="bouton-relief">Faire un don</a>
    </div>
    <div class="don_box">
        <h1 class="Hauteur_don">Tipeee</h1>
        <hr class="Separation">
        <p class="Blabla">{{ don.tipeee }}</p>
        <hr class="Separation2">
        <a href="{{ don.tipeeelien }}" class="bouton-relief">Faire un don</a>
    </div>
    <div class="don_box">
        <h1 class="Hauteur_don">TwitchAlerts</h1>
        <hr class="Separation">
        <p class="Blabla">{{ don.twitchAlerts }}</p>
        <hr class="Separation2">
        <a href="{{ don.twitchAlertslien }}" class="bouton-relief">Faire un don</a>
    </div>
</div>

