{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/Lecture_article.css') }}"/>
{% endblock %}
{% block body %}
    <section id="Ensemble">
        <div id="Bandeau">
            <img src="{{ asset( article.banniere.path) }}" alt="#" id="Banniere_image">
        </div>
        <article>
            <div id="Info">
                <h1 id="Title">{{ article.titre }}</h1>| {{ article.datePublication|date() }}
                <h2 id="Categorie">{{ article.categorie.nom }}</h2>
                <h3 id="Author">par <span
                            id="Auteur_data">{% for auteur in article.auteur %}{{ auteur.username }}{% endfor %}</span>
                </h3>
                <div id="Action_user">
                    <span class="icon-share"></span>
                    <span class="icon-cog"></span>
                </div>
            </div>
            <hr id="contenu_line"/>
            <div id="Contenu">
                {{ article.contenu|raw }}
            </div>

            <div id="Partage">
                <a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" target="_blank">
                    <span class="icon-facebook"></span>
                </a>
                <a href="https://twitter.com/share?url={{ app.request.uri }}&amp;text=Faerith's&amp;hashtags=faerith's"
                   target="_blank">
                    <span class="icon-twitter"></span>
                </a>
                <span class="icon-youtube"></span>
            </div>

            <div id="A_propos">
                <h2 id="Pseudo_titre">A PROPOS DES AUTEURS</h2>
                {% for auteur in article.auteur %}
                    <div id="Ligne_pseudo">
                        <img src="{{ asset( auteur.media.path ) }}" alt="#" id="Profil_auteur">
                        <h2 id="Pseudo_auteur">{{ auteur.username }}</h2>
                    </div>
                    <p id="Pseudo_texte">{{ auteur.description }}</p>
                    {% if app.user != null %}
                        {% if abonnes[auteur.username] != 'true' %}
                            <button class="Bouton_abonnement" id="{{ auteur.id }}">ABONNEMENT</button>
                        {% else %}
                            <p>Vous êtes déja abonnée à cette auteur</p>
                        {% endif %}
                    {% else %}
                        <p>Vous devez être connecté pour vous abonnez</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="Interraction_ligne">
                {% if noprevious == false %}
                <a href="{{ path('lecture_article',{id: articlePrev.id}) }}" class="Precedent">PRECEDENT
                    {#<img src="{{ asset( articlePrev.banniere.path ) }}" alt="#">#}
                </a>
                {% endif %}
                {% if nonext == false %}
                <a href="{{ path('lecture_article',{id: articleNext.id}) }}" class="Suivant">SUIVANT
                    {#<img src="{{ asset( articleNext.banniere.path ) }}" alt="#">#}
                </a>
                {% endif %}
            </div>


            <div class="boucle">
                <div class="Comment">
                    <h3 class="Comment_titre">COMMENTAIRES ({{ article.nombreCommentaire }}) |</h3>
                    <div class="Comment_data">
                        {% if not article.commentaire.empty %}
                            {% for comment in article.commentaire %}
                                <div class="Comment_ligne">
                                    <img src="{{ asset(comment.user.media.path ) }}" alt="#" class="Comment_profil">
                                    <p class="Comment_pseudo">{{ comment.user.username }}</p>
                                </div>
                                <p class="Comment_text">{{ comment.comment }}</p>
                                <p class="Comment_info">à {{ comment.dateComment|date() }}</p>
                                <div class="Repondre">
                                    <button>Répondre</button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% if app.user != null %}
                    <div id="Poster_commentaire">
                        <h1>Poster un commentaire</h1>
                        <textarea name="Message" id="Message" required></textarea>
                        <div class="Bouton_envoyer">
                            <button class="comment" id="{{ article.id }}">Envoyer</button>
                        </div>
                    </div>
                {% else %}
                    <p>Vous n'êtes pas connecté </p>
                {% endif %}
            </div>

        </article>
    </section>
    {% block javascripts %}
        <script type="text/javascript">
            $(function () {
                $('.Bouton_abonnement').on('click', function () {
                    var id_art = {{ article.id }}
                    var id = $(this).attr("id");
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "{{ path('abonnement') }}",
                        cache: false,
                        data: {id: id, id_art: id_art},
                        success: function (response) {
                            $('#A_propos').replaceWith(response.classifiedList);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                });
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $('.comment').on('click', function () {
                    var id = $(this).attr("id");
                    var commentaire = $("#Message").val();
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "{{ path('commentArticle') }}",
                        cache: false,
                        data: {id: id, comment: commentaire},
                        success: function (response) {
                            $('.boucle').replaceWith(response.classifiedList);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                });
            });
        </script>
    {% endblock %}
{% endblock %}

